  <div class="widget-wrap">
    <div class="widget">
        <a><img src="http://griffin.incubator.apache.org/images/egg-logo.png"></img></a>
        <a href="https://github.com/apache/incubator-griffin">code@apache</a>
    </div>
  </div>